.div1{
    background-image: url("https://images.pexels.com/photos/1605943/pexels-photo-1605943.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100vw;
    background-size: 1400px 900px;
    background-position: center;
    filter: brightness(60%);

    height: 87vh;
    width: 98.84vw;
    /* background-color: aqua; */
}
h1{
    color: black;
}
.innerDiv{
    height: 160px;
    width: 350px;
    /* background-color: aqua; */
    position: absolute;
    left: 1100px;
    top: 170px;

}
.infoDiv{
    height:200px ;
    width:550px ;
    background-color: aqua;
    position: absolute;
    left: 70px;
    top: 665px;
}
